.task-list-container {
    padding-bottom: 5em;

    .panel {
        margin-top: -65px;
        height: 65px;

        .icon {
            margin-right: 0.4em;
            position: relative;
            bottom: 3px;
        }

        .text {
            opacity: 0.6;
        }

        .icon-button {
            cursor: pointer;
            padding: 12px 7px;
            opacity: 0.9;

            &:hover {
                opacity: 0.7;
                transition: opacity 0.4s, color 0.4s;
            }
        }
    }

    .timer {
        padding: 1em;
        text-align: center;
        font-size: 1.1em;

        .task-name {
            margin-right: 0.7em;
        }

        .time {
            font-size: 1.3em;
            font-weight: lighter;
            display: inline-block;
            width: 87px;
            text-align: left;
        }

        &.paused {
            .timer-button-pause {
                opacity: 1;
            }

            .time,
            .icon:not(.fa-square) {
                color: $primary;
            }
        }
    }

    .task:first-child,
    .alert {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .task:first-child {
        border-top: none;
    }

    @media (max-width: 768px) {
        .panel {
            display: none;
        }
    }
}
