.analyze-container {
    .analyze-item {
        margin: 2rem 1rem;
        padding: 0;
    }

    .analyze-item-inner {
        display: flex;
        padding: 1.6rem 2rem 1.1rem;
        border-radius: $border-radius;

        .title {
            display: block;
            font-size: 1.2rem;
            font-weight: 300;
        }

        .value {
            font-size: 2.2rem;
            font-weight: bold;
        }

        .analyze-item-icon-container {
            margin-right: 1rem;
        }
    }

    .with-tip .analyze-item-inner {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .analyze-item-tip {
        border: 2px solid #ddd;
        border-top: none;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        padding: .3rem 1rem;
        text-align: center;
        opacity: .8;
    }
}
