.tasks-filter {
    width: 100%;

    .search {
        width: 100%;
        $tasks-filter-input-color: #404040;
        $tasks-filter-input-color-dark: #808080;
        position: relative;
        input {
            height: 44px;
            padding-left: 35px;
            border: 1px solid #ededed;
            color: $tasks-filter-input-color;
            caret-color: $tasks-filter-input-color;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            &::placeholder {
                color: $tasks-filter-input-color-dark;
            }
        }
        .search-icon-container {
            position: absolute;
            left: 13px;
            top: 10px;
            z-index: 4;
            color: $tasks-filter-input-color-dark;
            transition: color 0.3s;
        }
        &:focus-within .search-icon-container {
            color: $tasks-filter-input-color;
        }
    }
}
