input, textarea {
    outline: none !important;
}

.btn {
    box-shadow: none !important;

    .icon {
        margin-right: 0.15em;
    }

    &.btn-sm .icon {
        margin-right: 0.35em;
    }
}
