.add-task-container {
    margin-top: 1px;

    .add-task-form {
        display: flex;
    }

    .add-task-name-input.form-control {
        width: 170px;
        margin-right: 8px;
        transition: width .4s;

        &:focus {
            width: 300px;
        }
    }

    .add-task-button {
        padding: 11px 40px;
        background: #f3f3f3;
        float: right;
        border: 5px solid #fafafa;

        &:hover {
            border-color: #f3f3f3;
            background: #f3f3f3;
        }
    }

    @media (max-width: 768px) {
        .add-task-form {
            width: 100%;
        }

        .add-task-name-input.form-control {
            width: 100%;

            &:focus {
                width: 100%;
            }
        }
    }
}
