.navbar {
    margin-bottom: 65px;
    height: 70px;
}

.nav-link {
    .icon {
        margin-top: -3px;
    }
}

@media (max-width: 768px) {
    .navbar {
        margin-bottom: 0;
    }

    .navbar .navbar-nav {
        flex-direction: row;
    }
}
