@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600|Fira+Mono");
@import "~bootstrap/scss/bootstrap";

body {
    padding-bottom: 15em;
}

input, textarea {
    outline: none !important;
}

.btn {
    box-shadow: none !important;

    .icon {
        margin-right: 0.15em;
    }

    &.btn-sm .icon {
        margin-right: 0.35em;
    }
}

.link-secondary {
    color: #6b6b6b;
    &:hover {
        color: #545454;
    }
}

.invisible-animated {
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
}

.visible-animated {
    opacity: 1;
    transition: opacity .5s;
}

.animated-switch-wrapper {
    position: relative;

    & > div {
        position: absolute;
        width: 100%;
    }
}

.alert {
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 1rem 2rem;
}

// Modals
.ReactModal__Overlay {
    z-index: 100000;
}

.ReactModal__Content {
    width: 230px;
    height: 170px;
    margin: auto;

    .modal-title {
        margin-top: 25px;
    }

    .modal-close {
        color: black;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 15px;
        height: 15px;
    }

    .modal-buttons {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}
