@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600");
@import "~bootstrap/scss/bootstrap";

input,
textarea {
    outline: none !important;
}

.btn {
    box-shadow: none !important;

    .icon {
        margin-right: 0.15em;
    }

    &.btn-sm .icon {
        margin-right: 0.35em;
    }
}

.link-secondary {
    color: #6b6b6b;
    &:hover {
        color: #545454;
    }
}

.invisible-animated {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.visible-animated {
    opacity: 1;
    transition: opacity 0.5s;
}

.animated-switch-wrapper {
    position: relative;

    & > div {
        position: absolute;
        width: 100%;
    }
}

.alert {
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;

    .loader-message {
        margin-top: 6px;
    }

    .icon {
        margin-top: 5px;
        margin-right: 10px;
    }
}

.loader {
    flex-shrink: 0;
    display: inline-block;
    margin-right: 18px;
    width: 40px;
    height: 40px;
    border: 5px solid #ddd;
    border-top-color: #e187ff;
    border-radius: 50%;
    animation: loader-spin 1s linear infinite;
}

@keyframes loader-spin {
    50% {
        border-top-color: $loader-color-to;
    }
    100% {
        border-top-color: $loader-color-from;
        transform: rotate(360deg);
    }
}

.page-section {
    background: #fff;
    border: 1px solid #ededed;
    padding: 1rem 3em;
    border-radius: $border-radius;

    header {
        font-size: 2rem;
        margin-top: 0.5rem;
    }
}

@media (max-width: 768px) {
    .page-section {
        margin-bottom: 2em;
    }
}
