body {
    padding-bottom: 15em;
}

input, textarea {
    outline: none !important;
}

.btn {
    box-shadow: none !important;

    .icon {
        margin-right: 0.15em;
    }

    &.btn-sm .icon {
        margin-right: 0.35em;
    }
}

.link-secondary {
    color: #6b6b6b;
    &:hover {
        color: #545454;
    }
}

.invisible-animated {
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
}

.visible-animated {
    opacity: 1;
    transition: opacity .5s;
}
